header {
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary-color);
  text-align: center;
}

main {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}